<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-default">
  <!-- 3. Navigation links  to display components-->
  <a routerLink='/course'>Courses</a><br/>
  <a routerLink='/person'>People</a><br/>
   <a routerLink='/post'>Post</a><br/>
    <a routerLink='/product'>Products</a><br/>
     <a routerLink='/rating'>Rating</a><br/>
      <a routerLink='/recepie'>Recepie</a><br/>
       <a routerLink='/student'>Student</a><br/>
</nav>
<hr/>
<!-- 2. Placeholder to display components-->
<router-outlet></router-outlet>
